.columns {
    /* column-count: 4;
    column-width: 250px; */
    /* This is a minimum column width size, and takes precedence over column-count  */
    columns: 4 250px;
    /* This is shorthand for the first two rows */
    column-rule: 3px solid #333;
    /* borders to separate columns */
    column-gap: 2rem;
  }
  
  .columns h2 { 
    margin-top: 0;
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    break-inside: avoid;
    /* Stops this element being broken between columns */
  }
  
  .columns .quote {
    /* 
      recommends this site for fancy quotation marks 
      https://symbl.cc/en/unicode/table/
     */
     font-size: 3rem;
     text-align: center;
     color: #333;
     column-span: all;
     padding: 1rem;
  }
  
  .nowrap {
    white-space: nowrap;
    /* This makes sure the text within is not broken between lines */
  }